/* ============================= */
/* Layout                         */
/* ============================= */

.container {
  width: var(--content-desktop);
  margin: 0 auto;
}

.section {
  padding-top: 40px;
  scroll-margin-top: 64px;
}

/* ============================= */
/* Adaptive Padding              */
/* ============================= */

@media (max-width: 1279px) {
  .container {
    width: var(--content-tablet);
  }
}

/* ============================= */
/* Mobile                         */
/* ============================= */

@media (max-width: 799px) {
  .container {
    max-width: var(--content-mobile);
    width: 100%;
  }

  :root {
    --radius-soft: 20px;
  }
}
