/* ============================= */
/* Navigation                     */
/* ============================= */

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: var(--fs-16);
}

.nav-link {
  transition:
    opacity var(--duration-fast) var(--ease-default),
    transform var(--duration-fast) var(--ease-default);

  will-change: transform, opacity;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link:active {
  transform: translateY(1px);
  opacity: 0.5;
}

.nav-resume {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);
  padding-right: var(--space-4);

  font-weight: var(--fw-semibold);
  color: var(--color-text-primary);
  opacity: 1;
  transform: translateY(0);

  transition:
    opacity var(--duration-fast) var(--ease-default),
    transform var(--duration-fast) var(--ease-default);

  will-change: opacity, transform;
}

.nav-resume:hover {
  opacity: 0.7;
}

.nav-resume:active {
  opacity: 0.5;
  transform: translateY(1px);
}

.resume-icon {
  display: block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;

  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transform-box: fill-box;

  transition: transform var(--duration-medium) var(--ease-default);
  will-change: transform;
}

.nav-resume:hover .resume-icon {
  transform: rotate(45deg);
}

/* ============================= */
/* Burger Button                 */
/* ============================= */

.burger {
  display: none;
  width: 20px;
  height: 14px;

  padding: 5px 4px;
  box-sizing: content-box;

  border: none;
  background: none;
  cursor: pointer;

  flex-direction: column;
  justify-content: space-between;

  transition: opacity var(--duration-fast) var(--ease-default);
}

.burger:hover {
  opacity: 0.7;
}

.burger:active {
  opacity: 0.5;
}

.burger span {
  display: block;
  height: 1.5px;
  width: 100%;
  background: var(--color-text-primary);
  border-radius: 1px;
}

/* ============================= */
/* Mobile                         */
/* ============================= */

@media (max-width: 799px) {
  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }
}

/* ============================= */
/* Burger → Cross                */
/* ============================= */

.burger span {
  transition:
    transform var(--duration-medium) var(--ease-default),
    opacity var(--duration-fast) var(--ease-default);
}

.burger.is-active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger.is-active span:nth-child(2) {
  opacity: 0;
}

.burger.is-active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.mobile-nav a {
  font-size: var(--fs-16);
}
